.Cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5em auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 455px;
    height: 230px;
    margin: 0 0.5em;

    color: white;
    background-color: #15151E;
    clip-path: polygon(100% 0, 100% 88%, 95% 100%, 0 100%, 0 0);
}

.CardInner {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    width: 400px;
    height: 200px;

    margin: 0 0.8em;

    text-transform: uppercase;
    background: grey repeating-linear-gradient(-45deg, #38383F, #38383F 2.5px, #000000 2.5px, #000000 12.5px);
    clip-path: polygon(100% 0, 100% 88%, 95% 100%, 0 100%, 0 0);

    border-right: solid 2px #FFFFFF;
    border-bottom: solid 2px #FFFFFF;
}

.CardInner h2 {
    font-weight: bolder;
    margin-left: 1em;
}

.CardInner a {
    font-size: 1.2rem;
    font-weight: bolder;

    margin-left: 1em;
    margin-top: 2em;
    padding: 0.5em 1em 0.5em 1em;

    text-decoration: none;
    color: #be117e;
    background-color: white;
}