.Navigation {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    width: 100%;
    background-color: black;

    font-weight: bold;
    color: white;

    background-image: linear-gradient(to left, #000 70%, #09f4f9 30%);
}

.Navigation ul {
    padding: 0.5em;
    margin-right: 1em;
    font-size: 15px;
}

.Navigation ul:hover {
    cursor: pointer;
}

.Navigation img {
    max-height: 23px;

    margin-left: 18em;
    margin-right: 2em;

    padding: 1.7em 4em 1.7em 1em;

    background: linear-gradient(90deg, #09f4f9 0%, #be117e 100%);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}

.Links {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    width: 100%;
    background-color: black;

    font-weight: bold;
    color: white;

}

