.PlatformNav {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    padding-left: 20em;

    background-color: white;
    font-weight: bold;
    font-size: small;
}

.PlatformNav ul {
}

.PlatformNav ul:hover {
    cursor: pointer;
}