.RoundDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding-bottom: 5em;

    background-color: #3b0824;
}

.RoundDetailsDate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    width: 70%;
    height: 100%;
    padding: 1em 0;

    border-bottom: 2px solid #009EE4;
    border-image: linear-gradient(to right, #09f4f9 0%, #be117e 100%) 1;
}

.RoundDetailsDate h3 {
    background-color: cyan;
    margin-right: 1em;
    padding: 0.3em 2em;

    font-size: small;
    clip-path: polygon(22% 0%, 100% 0%, 100% 99%, 0% 100%);
}

.RoundDetailsDate h2 {
    color: white;
    text-transform: uppercase;
}

.RoundDetailsCalendar{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;

    width: 70%;
}

.RoundDetailsWeekendStruct {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    height: 100%;

    color: white;
    text-transform: uppercase;
}

.RoundDetailsWeekendStructLocation {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    margin: 2em 0 0 6em;
}

.RoundDetailsWeekendStructLocation a {
    text-decoration: none;
    color: white;
}

.RoundDetailsWeekendStructLocation a:hover {
    text-decoration: underline;
}

.RoundDetailsWeekendStructLocation h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: lighter;

}

.Country {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    color: white;

}

.Country img {
    max-height: 30px;
    border-radius: 10%;
    margin-right: 0.5em;
}

.Country h3 {
    margin: 0;
}

.RoundDetailsSaturday {
    color: white;

    margin: 2em 5em 0 17em;

    text-transform: uppercase;
    font-size: 0.8rem;
}

.RoundDetailsSaturdayElement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: start;

    margin-bottom: 1em;
}

.RoundDetailsSaturdayElementTitle {
    margin: 0;
    text-align: start;
    font-weight: bolder;
}

.RoundDetailsSaturdayElementDay {
    margin: 0;
    text-align: center;
    font-weight: bolder;
}

.RoundDetailsSaturdayElement span {
    margin: 0;
    padding: 0 1em;
    font-weight: bolder;

    background-color: #be117e;
    clip-path: polygon(9% 0%, 100% 0%, 100% 99%, 0% 100%);
}

.RoundDetailsSaturdayElementAnnotation {
    margin: 0;
    text-align: start;

    font-size: 0.7rem;
}

.RoundDetailsSunday {
    color: white;

    margin-top: 3.5em;

    text-transform: uppercase;
    font-size: 0.8rem;
}

.RoundDetailsSundayElement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: start;

    margin-bottom: 1em;
}

.RoundDetailsSundayElementTitle {
    margin: 0;
    text-align: start;
    font-weight: bolder;
}

.RoundDetailsSundayElementDay {
    margin: 0;
    text-align: center;
    font-weight: bolder;
}

.RoundDetailsSundayElement span {
    margin: 0;
    padding: 0 1em;
    font-weight: bolder;

    background-color: #be117e;
    clip-path: polygon(9% 0%, 100% 0%, 100% 99%, 0% 100%);
}